* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

#eliminating-questions p {
    margin-top: 10px;
}

#eliminating-questions small {
    color: gray;
    display: block;
}

.question  {
    margin-bottom: 20px;
}

.question > div {
    padding-left: 0;
    padding-right: 0;
}

.question .question-title {
    padding: 5px;
    border: solid 1px #F48FB1;
    background-color: #FCE4EC;
}

.question .answers {
    padding: 5px;
    border: solid 1px #FFC107;
    background-color: #FFF8E1;
}

.question .note {
    padding: 5px;
    border: solid 1px #FF5722;
    background-color: #FFCCBC;
    min-height: 75px;
}

.thumbnail .box-logo {
    height: 350px;
    display: flex;
    align-items: center;
}

.thumbnail .box-logo img {
    max-width: 350px;
    max-height: 350px;
}